.container {
  color: var(--color-dark-gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 15px;
  height: 80px;
  padding: 0 calc(5px + 10%);
}

.container-content{
  display: flex;
  align-items: center;
  gap: 30px;
}

.svg-container {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

svg {
  width: 70%;
  height: 70%;
}

.quantity {
  font-weight: 800;
}

.arrow {
  width: 30px;
  height: 30px;
  margin: auto 0;
  display: flex;
  align-items: center;
  transform: scale(1.2);
}

:host {
  border-radius: 100px;
}

:host-context(.ok) {
  font-size: 5rem;
}